*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
#portfolio{
    width: 100%;
    height: 100%;
   
}
 
#portfolio nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: large;
}
#portfolio nav ul li{
   list-style: none;
}
#portfolio nav ul li a {
    text-decoration: none;
    text-transform: capitalize;

}
.left-container,.right-container{
    height: 100vh;
    display: flex;
   align-items: center;
}
.left-container{
    background: #262525;
    width: 70%;
   
    
}
.right-container{
background-color:linear-gradient(-45deg, #3877FF  #262525);   
width: 30%;
display: flex;

}